nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href="/") OpenVPM status viewer

    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      ul.nav.navbar-nav
        li.active
          a(href="/") Sessions
            span.sr-only (current)
        li
          a(href="/clients") Clients
